body {
    background-color: #809f60;
    font-family: Helvetica; }

div.top-bar {
    height: 1.6em;
    font: 1.1em Helvetica;
    padding-top: 0.4em;
    background-color: #504030;
    color: #809f60;
    text-align: center; }
div.top-bar span {
    margin-top: 0.4em;
    white-space: nowrap;
    color: #b2b34d; }

div.title {
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.4em;
    margin-bottom: 0.35em;
    font: 5em "Limelight";
    width: 9.2em;
    float: left; }
div.title span {
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    display: block;
    float: left;
    width: 1.15em;
    height: 1.3em;
    text-align: center;
    background-color: #406020;
    color: #809f60;
    box-shadow: 3px 3px 3px #504030;
    text-shadow: -3px -3px 3px #504030; }
div.title span.dot {
    width: 0.3em;
    height: 0.3em;
    margin-top: 0.9em; }

div.title-1 {
    font-size: 70%;
    float: left; }
div.title-1 span {
    margin-bottom: 0.05em; }

div.title-2 {
    float: left;
    clear: left; }

div.title-3 {
    float: right; }
div.title-3 span {
    font-size: 70%;
    margin-top: 0.05em; }
div.title-3 span.dot {
    margin-top: 0.2em; }

div.main {
    margin-left: auto;
    margin-right: auto;
    width: 48em;
    font: 1.1em Helvetica;
    color: #504030; }
div.main div.block {
    float: left;
    margin-left: 2em;
    margin-bottom: 2em;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 1.28em; }
div.main div.section {
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border: 2px solid black;
    box-shadow: 3px 3px 3px #504030;
    text-align: center;
    padding: 1em 0.5em; }
div.main div.section div.caption {
    margin-bottom: 1em; }
div.main div.section div.caption a {
    font-size: 1.4em;
    font-family: 'Ribeye Marrow', Helvetica;
    color: #504030; }
div.main div.github {
    margin-left: 0.8em;
    margin-top: -1.4em; }
div.main div.github div.section {
    width: 9em;
    background-color: #b2b34d; }
div.main div.blog {
    margin-top: 3em; }
div.main div.blog div.section {
    width: 8em;
    background-color: #df8020; }
div.main div.temp1 {
    margin-top: 1em;
    margin-left: 2em; }
div.main div.temp1 div.section {
    width: 9em;
    background-color: #9f8a60; }
div.main div.temp2 {
    float: right;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 0.8em; }
div.main div.temp2 div.section {
    width: 8em;
    background-color: #77887b; }
div.main div.temp3 {
    margin-top: 0em;
    margin-left: 0.8em; }
div.main div.temp3 div.section {
    width: 33em;
    background-color: #6c9393; }
